.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

 .pokedex_heading{
    text-align: center;
    color:brown;
 }
 .pokedex_heading{
    text-align: center;
 }