.outer-pokemo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokedex-heading{
    width: 100%;
   
}

.pokedex-heading{
    display: flex;
    text-align: center;
    color:brown;
    align-items: center;
    justify-content: center;
 }